<form [formGroup]="premiumcalform" (ngSubmit)="onSubmit()">
    <mat-card class="premium-card">
        <mat-card-header>
            <mat-card-title>
                Monthly Premium Calculator
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="eighty-per-width">
                        <input formControlName="name" type="text" maxlength="50" matInput placeholder="Name">
                    </mat-form-field>
                    <mat-error>
                        <span *ngIf="!premiumcalform.get('name').valid && premiumcalform.get('name').touched">
                            Please enter name!</span>
                    </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="eighty-per-width">
                        <mat-label>Date of Birth</mat-label>
                        <input [matDatepickerFilter]="dateFilter" matInput [matDatepicker]="dob"
                            (dateChange)="handleDOBChange($event)" placeholder="Date of birth" formControlName="dob">
                        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                        <mat-datepicker #dob></mat-datepicker>
                    </mat-form-field>
                    <mat-error>
                        <span *ngIf="!premiumcalform.get('dob').valid && premiumcalform.get('dob').touched">
                            Please enter valid date of birth!</span>
                    </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="eighty-per-width">
                        <input formControlName="age" type="number" readonly min="0" matInput placeholder="Age">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="eighty-per-width">
                        <input formControlName="deathSumInsured" type="text" matInput placeholder="Death Sum Insured">
                    </mat-form-field>
                    <mat-error>
                        <span
                            *ngIf="!premiumcalform.get('deathSumInsured').valid && premiumcalform.get('deathSumInsured').touched">
                            Please enter sum insured!</span>
                    </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="eighty-per-width">
                        <mat-select (selectionChange)="getPremium()" id="occupationId" formControlName="occupationId"
                            placeholder="Select Occupation">
                            <mat-option *ngFor="let occupation of occupations" [value]="occupation.occupationId">
                                {{ occupation.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            <span
                                *ngIf="!premiumcalform.get('occupationId').valid && premiumcalform.get('occupationId').touched">
                                Please enter an occupation!</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="row">
                <div class="col">
                    <button mat-raised-button type="submit" color="primary">Submit</button>
                </div>
            </div>
        </mat-card-actions>
        <mat-card-footer>
            <div class="row">
                <div class="col">
                    <span *ngIf="showPremium"> Based you the information you have provided, your premium will be
                        {{monthlyPremium | currency:'AUD':'symbol'}} per month.
                    </span>
                </div>
            </div>
            <br>
        </mat-card-footer>
    </mat-card>
</form>